<div class="notes">

  <div class="note-title">Robotics</div>
  {% for note in site.note %}
    {% if note.category == "Robotics" %}
      <div class="note-cell">
        <div class="note-section">
            <a
              aria-label="{{ note.title }}"
              class="note-link"
              style="color: var(--header-link);"
              href="{{ note.url | relative_url }}">
              {{ note.title }}
            </a>
        </div>
        <div class="tag-section">
          {% capture tag_list %}{{ note.tags | join: "|"}}{% endcapture %}
          {% include default/tags_list.liquid tags=tag_list %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="note-title">Programming</div>
  {% for note in site.note %}
    {% if note.category == "Programming" %}
      <div class="note-cell">
        <div class="note-section">
            <a
              aria-label="{{ note.title }}"
              class="note-link"
              style="color: var(--header-link);"
              href="{{ note.url | relative_url }}">
              {{ note.title }}
            </a>
        </div>
        <div class="tag-section">
          {% capture tag_list %}{{ note.tags | join: "|"}}{% endcapture %}
          {% include default/tags_list.liquid tags=tag_list %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="note-title">Dev</div>
  {% for note in site.note %}
    {% if note.category == "Dev" %}
      <div class="note-cell">
        <div class="note-section">
            <a
              aria-label="{{ note.title }}"
              class="note-link"
              style="color: var(--header-link);"
              href="{{ note.url | relative_url }}">
              {{ note.title }}
            </a>
        </div>
        <div class="tag-section">
          {% capture tag_list %}{{ note.tags | join: "|"}}{% endcapture %}
          {% include default/tags_list.liquid tags=tag_list %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

</div>

{% include blog/blog_nav.liquid %}